<h1>Race</h1>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>
 
<h2>Skill Levels:</h2>

<p>
  <strong>Block:</strong>
  <%= @race.block %>
</p>
<p>
    <strong>Heavy Armor: </strong>
    <%= @race.heavyArmor %>
</p>
<p>
    <strong>One Handed: </strong>
    <%= @race.oneHanded %>
</p>
<p>
    <strong>Smithing: </strong>
    <%= @race.smithing %>
</p>
<p>
    <strong>Two Handed: </strong>
    <%= @race.twoHanded %>
</p>
<p>
    <strong>Archery: </strong>
    <%= @race.archery %>
</p>
<p>
    <strong>Alchemy: </strong>
    <%= @race.alchemy %>
</p>
<p>
    <strong>Light Armor: </strong>
    <%= @race.lightArmor %>
</p>
<p>
    <strong>Lock Picking: </strong>
    <%= @race.lockPicking %>
</p>
<p>
    <strong>Pick Pocket: </strong>
    <%= @race.pickPocket %>
</p>
<p>
    <strong>Sneak: </strong>
    <%= @race.sneak %>
</p>
<p>
    <strong>Speech: </strong>
    <%= @race.speech %>
</p>
<p>
    <strong>Alteration: </strong>
    <%= @race.alteration %>
</p>
<p>
    <strong>Conjuration: </strong>
    <%= @race.conjuration %>
</p>
<p>
    <strong>Destruction: </strong>
    <%= @race.destruction %>
</p>
<p>
    <strong>Enchanting: </strong>
    <%= @race.enchanting %>
</p>
<p>
    <strong>Illusion: </strong>
    <%= @race.illusion %>
</p>
<p>
    <strong>Restoration: </strong>
    <%= @race.restoration %>
</p>

<br />
<p>
   <%= link_to 'Race List', races_path, :class => 'btn btn-primary' %> 
</p>