<!DOCTYPE html>
<html>
  <head>
    <title>CharacterCreator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <!-- <%= navbar fixed: :top do %>
    <%= navbar_header brand: 'ESCreator', brand_link: '/' %>
    <% end %> -->
    <nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
<%= link_to "CharacterCreator", root_path , class: "navbar-brand"%>
</nav>
    <!-- End navbar -->
    <%= yield %>
  </body>
</html>
