<%= form_for @character do |f| %>

<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@character.errors.count, "error") %>
      prohibited this character from being saved:
    </h2>
    <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>
<%= f.label :name, class: "formText" %>
</h3>
<p>

  <%= f.text_field :name, class: "formText" %>
</p>
<h3>
  <%= f.label :gender %>
</h3>
<p>

  <%= f.radio_button :gender, 'Androgynous', class: "formText" %><br>
  <%= f.label :gender, 'Androgynous', :value => 'Androgynous', class: "formText" %><br>
  <%= f.radio_button :gender, 'Man' , class: "formText"%><br>
  <%= f.label :gender, 'Man', :value => 'Man' , class: "formText"%><br>
  <%= f.radio_button :gender, 'Woman' , class: "formText"%><br>
  <%= f.label :gender, 'Woman', :value => 'Woman', class: "formText" %><br>
  <%= f.radio_button :gender, 'Apache Attack Helicopter', class: "formText" %><br>
  <%= f.label :gender, 'Apache Attack Helicopter', :value => 'Apache Attack Helicopter' , class: "formText"%><br>
</p>
<h3>
  <%= f.label :race , class: "formText"%>
</h3>
<p>
  <%= f.radio_button :race, 'altmer' , class: "formText"%>
  <%= f.label :race, 'Altmer (High Elf)', :value => 'altmer' , class: "formText"%><br>

  <%= f.radio_button :race, 'argonian' , class: "formText"%>
  <%= f.label :race, 'Argonian', :value => 'argonian', class: "formText" %><br>

  <%= f.radio_button :race, 'breton' , class: "formText"%>
  <%= f.label :race, 'Breton', :value => 'breton' , class: "formText"%><br>

  <%= f.radio_button :race, 'bosmer' , class: "formText"%>
  <%= f.label :race, 'Bosmer (Wood Elf)', :value => 'bosmer' , class: "formText"%><br>

  <%= f.radio_button :race, 'dunmer' , class: "formText"%>
  <%= f.label :race, 'Dunmer (Dark Elf)', :value => 'dunmer' , class: "formText"%><br>

  <%= f.radio_button :race, 'imperial' , class: "formText"%>
  <%= f.label :race, 'Imperial', :value => 'imperial' , class: "formText"%><br>

  <%= f.radio_button :race, 'khajit' , class: "formText"%>
  <%= f.label :race, 'Khajit', :value => 'khajit' , class: "formText"%><br>

  <%= f.radio_button :race, 'nord' , class: "formText"%>
  <%= f.label :race, 'Nord', :value => 'nord' , class: "formText"%><br>

  <%= f.radio_button :race, 'redguard', class: "formText" %>
  <%= f.label :race, 'Redguard', :value => 'redguard' , class: "formText"%><br>

  <%= f.radio_button :race, 'orsimer' , class: "formText"%>
  <%= f.label :race, 'Orsimer (Ork)', :value => 'orsimer' , class: "formText"%><br>


</p>

<p>
  <%= f.label :race, 'race' , class: "formText"%>
  <%= f.collection_select :race, Race.all, :name, :name , class: "formText"%>
</p>


<p>
  <%= f.submit 'Create Character' , class: "btn btn-success"%>
</p>

<% end %>
